<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lazy</title>
</head>
<body>
        <h1>{{products.productname}}</h1>
        <p>{{products.unitprice.}}</p>
        <p>{{products.unitsinstock}}</p>
        <p>{{products.supplierid.companyname}}</p>
        <p>{{products.supplierid.contactname}}</p>
        <p>{{products.supplierid.contacttitle}}</p>
        <p>{{products.supplierid.city}}</p>
        <p>{{products.supplierid.phone}}</p>
</body>
</html>